#toquery {
  display: none;
}

@media (max-width: 767px) {

  #aside {
    display: none;
  }

  #toquery {
    display: inline;
  }

  .intro-imagepost {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.button-type:hover {
  cursor: pointer;
}
.button-type {
  font-weight: 300;
  font-size: 145%;
}

.button-type-nav {
  font-weight: 300;
}

.img-article:hover {
  cursor: pointer;
  filter: opacity(80%)
}

.title:hover {
  cursor: pointer;
}

.blog-name:hover {
  cursor: pointer;
}

.blog-name {
  font-weight: 300;
  font-family: cursive;
}

#blog-name-nav {
  font-weight: 300;
  font-family: cursive;
}


.title {
  font-weight: 400;
  font-size: 200%;
  font-family: cursive;
  padding-top: 3%;
}

.title-imagepost {
  font-weight: 400;
  font-family: cursive;
}

.intro {
  font-weight: 300;
  font-size: 110%;
}

.welcome {
  font-weight: 300;
  font-family: cursive;
}

.welcome-aboutme {
  font-weight: 180;
  font-family: cursive;
  padding-top: 5%;
}

.follow {
  font-weight: 300;
  font-family: cursive;
}

.follow-aboutme {
  font-weight: 300;
  font-family: cursive;
}

.description {
  font-weight: 300;
  padding-right: 20%;
  padding-top: 5%;
  font-size: 120%;
}

.description-aboutme {
  font-weight: 300;
  padding-top: 5%;
}

.question {
  font-weight: 300;
  font-family: cursive;
}

.question-aboutme {
  font-weight: 300;
  font-family: cursive;
}

.mail {
  font-weight: 300;
  font-size: 120%;
}

.mail-aboutme {
  font-weight: 300;
}

.category-name {
  padding-top: 5%;
  font-weight: 100;
}

.all-recipes {
  padding-top: 5%;
  font-weight: 300;
  font-size: 120%;
}

.aboutme {
  font-weight: 300;
}

.article {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 6%;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
  box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
}

.intro-imagepost {
  padding-left: 5%;
  padding-right: 5%;
}
